@media (max-width : 480px){
    :root{
        --pixel : 0.24132vw;
    }
    .container{
        width: 100%;
        padding-left: calc(var(--pixel) * 15);
        padding-right: calc(var(--pixel) * 15);
        margin-left: auto;
        margin-right: auto;
    }
    /* index page */
    .top-header{
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--pixel) * 15);
    }
    .top-header {
        font-size: calc(var(--pixel) * 16) !important;
    }
    .top-header-right{
        position: absolute;
        right: 15px;
        top: 20px;
    }
    .top-header .top-header-left .time{
        display: none;
    }
    .top-header-left{
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--pixel)* 20);
    }
    .top-header .top-header-left .time{
        align-items: center;
    }
    .top-header .top-header-left .num-date,
    .top-header .top-header-left .name{
        line-height: calc(var(--pixel) * 20);
    }
    .btm-header .ul{
        flex-direction: column;
        position: absolute;
        top: calc(var(--pixel) * 60);
        left: 0;
        padding: calc(var(--pixel) * 30) calc(var(--pixel) * 15);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(29px);
    }
    .btm-header .ul li{
        margin-bottom:calc(var(--pixel) * 20);
    }
    .open{
        display: block !important;
    }
    .ul,
    .btm-header .contact-btn,
    .close-menu{
        display: none;
    }
    .btm-header .bars-menu{
        display: block;
    }
    .btm-header{
        padding: calc(var(--pixel) * 30) calc(var(--pixel) * 15);
        left: 0;
    }
    .btm-header .bars-menu i{
        margin-left: calc(var(--pixel) * 10);
        font-size: calc(var(--pixel) * 20);
    }
    .banner-section{
        text-align: center;
    }
    .banner .content{
        flex-direction: column;
        justify-content: center;
        gap: calc(var(--pixel) * 75);
    }
    .banner .content h2{
        font-size: calc(var(--pixel) * 60);
        line-height: calc(var(--pixel) * 90);
    }
    .banner .content .text{
        width: 100%;
    }
    .what-do {
        background: none;
    }
    .what-do .content{
        flex-direction: column-reverse;
        top: 0;
        padding: calc(var(--pixel) * 40) 0;
        background-position: top;
    }
    .what-do .content .text-content{
        margin-left: calc(var(--pixel) * 15);
    } 
    .what-do .items .item{
        width: 100%;
    }
    .what-do .content .img{
        width: 100%;
    }
    .about-section .top-content{
        flex-direction: column;
        padding: calc(var(--pixel) * 15);
    }
    .about-section .top-content .img-left,
    .about-section .top-content .img-right{
        width: 100%;
    }
    .about-section .get-service .content-bottom{
        flex-direction: column;
        text-align: center;
    }
    .about-section .get-service .button{
        margin-bottom: calc(var(--pixel) * 20);
    }
    .pricing .tabs{
        flex-direction: column;
    }
    .pricing .tabs .tab-price {
        flex-direction: column;
        width: 100%;
        gap: calc(var(--pixel) * 15);
    }
    .pricing .tabs .tab-price .left{
        flex-direction: column;
    }
    .pricing .tabs .tabs-list{
        flex-direction: column;
        gap: calc(var(--pixel) * 15);
    }
    .pricing .tabs .tabs-list .tab{
        width: 100%;
    }
    .gallery .content{
        text-align: center;
    }
    .gallery .content .text .btn{
        margin: auto;
    }
    .gallery .images {
        flex-direction: column;
        gap: calc(var(--pixel) * 15);
    }
    .reviews .content .card{
        width: 100%;
    }
    .reviews .content .card .text{
        width: 25%;
    }
    .reviews .paragraph{
        width: 90%;
    }
    .sponsors .content .description{
        width: 100%;
    }
    .sponsors .content .logos{
        flex-wrap: wrap;
        gap: calc(var(--pixel) * 30);
    }
    .sponsors .content{
        padding: 0;
    }
    .services .title-section,
    .pricing .content > .title{
        width: 100%;
    }
    .footer .col{
        flex-direction: column;
        width: 100%;
        gap: calc(var(--pixel) * 30);
    }
    .footer .col > div{
        width: 100%;
    }
    .footer .col .gallery-footer .img{
        width: calc(var(--pixel) * 100);
    }
    /* about page */
    .page-about .about{
        padding: calc(var(--pixel) * 60) 0 0;
    }
    .page-about .about .content {
        flex-direction: column-reverse;
    }
    .page-about .about .content .text .logo{
        display: none;
    }
    .page-about .about .content .image img{
        width: 100%;
        height: 100%;
    }
    .working-hours .content{
        flex-direction: column;
    }
    .working-hours .content .hours{
        width: 100%;
        height: 100%;
    }
}