*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--pixel) * 1280);
}
/*=========== custom property ==============*/
:root{
    --pixel : 0.065vw;
    --primary : #d6a354;
    --secondary : #252525;
    --gray : #707070;

    --transition : 0.3s all ease;
}
/*
**other
*/
a{
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
li{
    list-style: none;
}
img{
    display: block;
}
button{
    border: none;
    background-color: transparent;
}
.d-flex{
    display: flex;
}
.fd-colums{
    flex-direction: column;
}
.js-center{
    justify-content: center;
}
.js-between{
    justify-content: space-between;
}
.al-center{
    align-items: center;
}
.gap-20{
    gap: calc(var(--pixel) * 20) ;
}
.gap-10{
    gap: calc(var(--pixel) * 10) ;
}
.gap-30{
    gap: calc(var(--pixel) * 30) ;
}
.gap-40{
    gap: calc(var(--pixel) * 40) ;
}
.gap-50{
    gap: calc(var(--pixel) * 50) ;
}
/**====== Start header =====*/
.header {
    position: relative;
}
.header .btm-cnt{
    position: relative;
}
/* top header */
.top-header{
    padding: calc(var(--pixel) * 20) 0;
}
.top-header .top-header-left .icon{
    color: var(--primary);
    font-size: calc(var(--pixel) * 20);
}
.top-header .top-header-left .name{
    color: var(--secondary);
    font-weight: 500;
    font-size: calc(var(--pixel) * 18);
    line-height: calc(var(--pixel) * 1.8);
}
.top-header .top-header-left a{
    transition: var(--transition);
}
.top-header .top-header-left a:hover{
    color: var(--primary);
}
.top-header .top-header-left .num-date{
    font-family: 'Rubik';
    color: var(--gray);
    font-weight: 400;
    font-size: calc(var(--pixel) * 18);
    line-height: calc(var(--pixel) * 1.8);
}
.top-header .top-header-left .num-date span{
    font-weight: 500;
}
.top-header .top-header-right .icon-media{
    transition: 0.3s all ease;
    font-size: calc(var(--pixel) * 20);
}
.top-header .top-header-right .icon-media:hover{
    color: var(--primary);
}
/* buttom header */
.btm-header{
    position: absolute;
    width: 100%;
    padding: calc(var(--pixel) * 30) 0;
    color: #fff;
    z-index: 100;
}
.btm-header .ul a{
    color: #fff;
    font-weight: 500;
    z-index: 1;
    line-height: 1;
    letter-spacing: calc(var(--pixel) * .3);
    font-size: calc(var(--pixel) * 15);
    text-transform: uppercase;
    transition: var(--transition);
}
.btm-header .ul a:hover{
    color: var(--primary);
}
.btm-header .contact-btn{
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
}
.btm-header .contact-btn i{
    margin-left: calc(var(--pixel) * 5);
}
.btm-header .contact-btn:hover{
    background-color: var(--secondary);
}
.btm-header .bars-menu{
    display: none;
}
/**====== Start banner =====*/
.banner-section{
    position: relative;
}
.banner{
    display: grid;
    align-items: center;
    background-image: url(http://localhost/Hair-cutting/images/h1-slide-1.webp);
    background-size: cover;
    width: 100%;
}
.banner .content{
    position: relative;
    display: flex;
    align-items: center;
    height: calc(var(--pixel) * 950);
}
.banner .content .text{
    color: #fff;
    width: 40%;
}
.banner .content h2{
    font-size: calc(var(--pixel) * 100);
    line-height: calc(var(--pixel) * 110);
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: calc(var(--pixel) * 25);
}
.banner .content p{
    font-size: calc(var(--pixel) * 19);
    line-height: calc(var(--pixel) * 29);
    margin-bottom: calc(var(--pixel) * 30);
}
.banner .content .btn{
    padding: calc(var(--pixel) * 20) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
}
.banner .content i{
    margin-left: calc(var(--pixel) * 5);
}
.banner .content .btn:hover{
    background-color: var(--secondary);
}

/* Circle */
.circle {
    height: calc(var(--pixel) * 100);
    width: calc(var(--pixel) * 100);
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:before,
.circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: calc(var(--pixel) * 3) solid #fff;
    border-radius: 50%;
}
.circle:before {
    animation: ripple 2s linear infinite;
}
.circle:after {
    animation: ripple 2s linear 1s infinite;
}
@keyframes ripple{
    0% { transform: scale(1); }
    50% { transform: scale(1.3); opacity:1; }
    100% { transform: scale(1.6); opacity:0; }
}
.circle i{
    font-size: calc(var(--pixel) * 25);
    color: var(--primary);
}
/**====== What we do section =====*/
.what-do{
    position: relative;
    background-image: url(http://localhost/Hair-cutting/images/wwd-right-bg.webp);
    background-position: right;
    background-repeat: no-repeat;
}
.what-do .content{ 
    position: relative;
    background-image: url(http://localhost/Hair-cutting/images/wwd-right-bg.webp);
    background-repeat: no-repeat;
    background-position: right;
    top: -50px;
    background-color: #fff;
    border-radius: calc(var(--pixel) * 5);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.what-do .content .img{
    width: calc(var(--pixel) * 410);
    height: calc(var(--pixel) * 687);
}
.what-do .text-content .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 30);
    text-transform: uppercase;
    color: var(--secondary);
}
.what-do .text-content .p{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: calc(var(--pixel) * 40);
}
.what-do .items{
    display: flex;
    flex-wrap: wrap;
}
.what-do .items .item{
    padding: calc(var(--pixel) * 20) calc(var(--pixel) * 30);
    border: calc(var(--pixel) * 2) solid #e8e8e8;
    position: relative;
    margin-bottom: calc(var(--pixel) * 30);
    margin-right: calc(var(--pixel) * 20);
    border-radius: calc(var(--pixel) * 5);
    background-color: #fff;
    width: calc(var(--pixel) * 400);
}
.what-do .items .item i{
    font-size: calc(var(--pixel) * 50);
    line-height: calc(var(--pixel) * 65);
    color: var(--primary);
}
.what-do .items .item .text .title{
    font-size: calc(var(--pixel) * 22);
    font-weight: 600;
    margin-bottom: calc(var(--pixel) * 10);
}
.what-do .items .item .text .description{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
}
/**====== about section =====*/
.about-section .top-content{
    width: 98%;
    margin: auto;
    padding: calc(var(--pixel) * 60) 0 0;
    background-image: url(http://localhost/Hair-cutting/images/about-text-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.about-section .top-content .img-left{
    width: calc(var(--pixel) * 350);
    height: calc(var(--pixel) * 665);
}
.about-section .top-content .img-right{
    width: calc(var(--pixel) * 500);
    height: calc(var(--pixel) * 545);
}
.about-section .top-content .text-center{
    flex-direction: column;
    text-align: center;
}
.about-section .top-content .text-center .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    text-transform: uppercase;
    line-height: 1.4;
}
.about-section .top-content .text-center .paragraph{
    font-weight: 400;
    font-size: calc(var(--pixel) * 18);
    line-height: calc(var(--pixel) * 28);
    color: var(--gray);
    margin-bottom: calc(var(--pixel) * 30);
}
.about-section .get-service{
    background-color: var(--primary);
    color: #fff;
    background-image: url(http://localhost/Hair-cutting/images/cta-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-section .get-service .text{
    padding: calc(var(--pixel) * 40) 0;
    font-size: calc(var(--pixel) * 33);
    line-height: calc(var(--pixel) * 50);
    text-transform: uppercase;
}
.about-section .get-service .button{
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border: 1px solid #fff;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
}
.about-section .get-service .button:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
/**====== services section =====*/
.services{
    padding: calc(var(--pixel) * 60) 0;
}
.services .title-section{
    width: 40%;
    text-align: center;
    margin: 0 auto calc(var(--pixel) * 50);
}
.services .title{
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 20);
    color: var(--secondary);
    text-transform: uppercase;
}
.services .description{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
}
.services .items{
    flex-wrap: wrap;
}
.services .item{
    text-align: center;
    box-shadow: 0 calc(var(--pixel) * 3) calc(var(--pixel) * 100) rgb(0 0 0 / 10%);
    margin-bottom: calc(var(--pixel) * 30);
    padding: calc(var(--pixel) * 60) calc(var(--pixel) * 30);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    background-color: #fff;
    width: calc(var(--pixel) * 400);
    height: calc(var(--pixel) * 490);
    background-image: url(http://localhost/Hair-cutting/images/service-item-bg.webp);
    background-size: cover;
}
.services .item .icon{
    height: calc(var(--pixel) * 80);
    width: calc(var(--pixel) * 80);
    line-height: calc(var(--pixel) * 80);
    font-size: calc(var(--pixel) * 80);
    color: var(--primary);
    display: inline-block;
    margin-bottom: calc(var(--pixel) * 30);
}
.services .item .title-item{
    font-family: "Oswald";
    font-weight: 700;
    margin-bottom: calc(var(--pixel) * 15);
    line-height: 1.5;
    font-size:calc(var(--pixel) * 28);
    color: var(--secondary);
}
.services .item .desciption-item{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: calc(var(--pixel) * 16);
}
.services .item a{
    display: block;
    height: calc(var(--pixel) * 60);
    width: calc(var(--pixel) * 60);
    line-height: calc(var(--pixel) * 60);
    font-size: calc(var(--pixel) * 25);
    border-radius: calc(var(--pixel) * 5);
    background: #fff;
    color: var(--primary);
    box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
    margin: calc(var(--pixel) * 30) auto 0;
    transition: var(--transition);
}
.services .item a:hover{
    background: var(--primary);
    color: #fff;
}
/**====== pricing section =====*/
.pricing {
    background: url(http://localhost/Hair-cutting/images/precing-bg.webp);
    background-position: center;
    background-size: cover;
    padding: calc(var(--pixel) * 60) 0;
}
.pricing .content > .title{
    text-align: center;
    color: #fff;
    width: 40%;
    margin: 0 auto calc(var(--pixel) * 40);
}
.pricing .content .title .h3{
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 20);
    text-transform: uppercase;
}
.pricing .content .title .description{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
}
.pricing .tabs{
    background-color: #fff;
    padding: calc(var(--pixel) * 40);
}
.pricing .tabs .tabs-list .tab{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-color: #e8e8e8;
    width: 16.325%;
    height: calc(var(--pixel) * 140);
    padding: calc(var(--pixel) * 20);
    cursor: pointer;
    transition: var(--transition);
}
.pricing .tabs .tabs-list .tab a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pricing .tabs .tabs-list .tab:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
.pricing .tabs .tabs-list .tab:hover .icon{
    height: 60px;
    width: 60px;
    opacity: 0.1;
}
.pricing .tabs .tabs-list .tab:hover .title{
    color: #fff;
    position: absolute;
    text-align: center;
}
.pricing .tabs .tabs-list .tab .icon{
    width: calc(var(--pixel) * 50);
    height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 15);
}
.pricing .tabs .tabs-list .tab .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 18);
    text-transform: uppercase;
    line-height: calc(var(--pixel) * 26);
}
.pricing .tabs .tabs-content{
    flex-wrap: wrap;
}
.pricing .tabs .tab-price{
    margin: calc(var(--pixel) * 30) 0;
    background-color: #FBF6EE;
    background-image: url(http://localhost/Hair-cutting/images/pricing-tab-bg.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: calc(var(--pixel) * 50) calc(var(--pixel) * 30);
    margin-bottom: calc(var(--pixel) * 30);
    position: relative;
    border-radius: calc(var(--pixel) * 5);
    width: 48%;
}
.pricing .tabs .tab-price .img{
    width: calc(var(--pixel) * 90);
    height: calc(var(--pixel) * 90);
}
.pricing .tabs .tab-price .price-txt{
    font-size: calc(var(--pixel) * 20);
    font-weight: 600;
    line-height: calc(var(--pixel) * 30);
    margin-bottom: calc(var(--pixel) * 5);
}
.pricing .tabs .tab-price .desc{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
}
.pricing .tabs .tab-price .price{
    font-size: calc(var(--pixel) * 30);
    color: var(--primary);
}
/**====== Gallery section =====*/
.gallery{
    padding: calc(var(--pixel) * 60) 0;
    background-color: #FBF6EE;
}
.gallery .content .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 20);
    text-transform: uppercase;
    color: var(--secondary);
}
.gallery .content .text{
    flex-wrap: wrap;
    align-items: flex-start;
}
.gallery .content .text .paragraph{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: calc(var(--pixel) * 16);
}
.gallery .content .text .btn{
    padding: calc(var(--pixel) * 20) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
}
.gallery .content .text .btn:hover{
    background-color: var(--secondary);
}
.gallery .content .text i{
    margin-left: calc(var(--pixel) * 5);
}
.gallery .images {
    padding: calc(var(--pixel) * 30) 0;
}
.gallery .images .img{
    height: calc(var(--pixel) * 400);
    flex-wrap: wrap;
    transition: var(--transition);
}
.gallery .images .img:hover{
    scale: 1.06;
}
/**====== reviews section =====*/
.reviews{
    padding: calc(var(--pixel) * 60) 0;
}
.reviews .content{
    position: relative;
}
.reviews .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom:calc(var(--pixel) * 20) ;
    text-transform: uppercase;
    color: var(--secondary);
    text-align: center;
    margin: auto;
    margin-bottom: calc(var(--pixel) * 30);
}
.reviews .paragraph{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: calc(var(--pixel) * 16);
    width: 50%;
    text-align: center;
    margin: auto;
}
.reviews .all-card{
    padding: calc(var(--pixel) * 92)  0 calc(var(--pixel) * 60) ;
}
.reviews .content .card{
    background-color: #FBF6EE;
    margin: 0 calc(var(--pixel) * 50) 0 0;
    border-radius: calc(var(--pixel) * 100) calc(var(--pixel) * 50);
    text-align: center;
    width: calc(var(--pixel) * 615);
}
.reviews .content .card .img{
    margin-bottom: calc(var(--pixel) * 20);
}
.reviews .content .card .star{
    margin: auto;
}
.reviews .content .card .img .logo{
    display: block;
    margin: auto;
}
.reviews .content .card .card-content{
    padding: calc(var(--pixel) * 15) 0;
}
.reviews .content .card .text{
    position: relative;
    padding: calc(var(--pixel) * 10);
    width: calc(var(--pixel) * 383);
    margin: auto;
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: calc(var(--pixel) * 29);
    text-align: center;
    font-size: calc(var(--pixel) * 16);
    color: var(--gray);
    margin-bottom: calc(var(--pixel) * 10);
}
.reviews .content .card .text .big-p{
    margin-bottom: calc(var(--pixel) * 20);
}
.reviews .content .card .text .small-p{
    color: var(--secondary);
    font-weight: 700;
    font-size: calc(var(--pixel) * 16);
    line-height: calc(var(--pixel) * 29);
}
/**====== sponsors section =====*/
.sponsors{
    padding: calc(var(--pixel) * 60) 0;
    background-image: url(http://localhost/Hair-cutting/images/pricing-tab-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.sponsors .content{
    padding: calc(var(--pixel) * 60);
    text-align: center;
}
.sponsors .content .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom:calc(var(--pixel) * 20) ;
    text-transform: uppercase;
    color: var(--secondary);
    text-align: center;
    margin: auto;
    margin-bottom: calc(var(--pixel) * 30);
}
.sponsors .content .description{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: calc(var(--pixel) * 16);
    width: 50%;
    text-align: center;
    margin: 0 auto calc(var(--pixel) * 60);
}
/**====== footer=====*/
.footer{
    background-color: #252525;
    color: #fff;
    padding: calc(var(--pixel) * 60) 0;
}
.footer .col > div{
    width: 30%;
}
.footer .col .title{
    font-family: "oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 22);
    margin-bottom: calc(var(--pixel) * 40);
    letter-spacing: calc(var(--pixel) * .5);
}
.footer .col .about_us .p{
    margin-bottom: calc(var(--pixel) * 30);
}
.footer .col .about_us .social-media i{
    width: calc(var(--pixel) * 40);
    height: calc(var(--pixel) * 40);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: calc(var(--pixel) * 8) calc(var(--pixel) * 11);
    transition: var(--transition);
}
.footer .col .about_us .social-media a:hover i{
    background-color: var(--primary);
    border-color: var(--primary);
}
.footer .col .contact .details i{
    color: var(--primary);
}
.footer .col .contact .detail{
    margin-bottom: calc(var(--pixel) * 25);
}
.footer .col .p{
    font-family: "Rubik";
    font-weight: normal;
    font-size: calc(var(--pixel) * 16);
    line-height: calc(var(--pixel) * 30);
    color: #cbcbcb;
}
.footer .col .title-tree{
    font-family: "Rubik";
    font-weight: 600;
    font-size: calc(var(--pixel) * 18);
    letter-spacing: calc(var(--pixel) * .5);
    margin-bottom: calc(var(--pixel) * 20);
}
.footer .col .gallery-footer .photos{
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .col .gallery-footer .img{
    background-image: url(http://localhost/Hair-cutting/images/portfolio-1.webp);
    width: calc(var(--pixel) * 120);
    height: calc(var(--pixel) * 100);
    background-position: center;
    background-size: cover;
}
    /**====== about-page=====*/
.page-about .about{
    padding: calc(var(--pixel) * 60) 0; ;
}
.page-about .banner-section .banner{    
    position: relative;
    display: flex;
    align-items: center;
    height: calc(var(--pixel) * 500);
    background-position: center;
}
.page-about .banner-section .banner {
    text-transform: capitalize;
}
.page-about .banner-section .banner .title{    
    color: #fff;
    font-size: calc(var(--pixel) * 75);
    line-height: calc(var(--pixel) * 85);
    margin-bottom: 0;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
}
.page-about .banner-section .banner .second-title{
    font-weight: 400;
    font-size: calc(var(--pixel) * 20);
    line-height: calc(var(--pixel) * 28);

}
.page-about .banner-section .banner .first{
    color: #fff;
    transition: var(--transition);
}
.page-about .banner-section .banner .first:hover{
    color: var(--primary);
}
.page-about .banner-section .banner .seconde{    
    color: var(--primary);
}
.page-about .banner-section .banner .second-title span{ 
    color: #fff;
    font-size:calc(var(--pixel) * 25);
    margin: 0 calc(var(--pixel) * 20);
    border-radius: 50%;
}
.page-about .about .content .image img{
    width: calc(var(--pixel) * 500);
    height: calc(var(--pixel) * 600);
}
.page-about .about .content .text > *{
    margin-bottom: calc(var(--pixel) * 25);
}
.page-about .about .content .text .title{
    font-family: "Oswald";
    font-weight: 700;
    font-size: calc(var(--pixel) * 40);
    line-height: calc(var(--pixel) * 50);
    margin-bottom: calc(var(--pixel) * 30);
    text-transform: uppercase;
    color: var(--secondary);
}
.page-about .about .content .text .description {
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
}
.page-about .about .content .about-btn{
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
}
.page-about .about .content .about-btn i{
    margin-left: calc(var(--pixel) * 5);
}
.page-about .about .content .about-btn:hover{
    background-color: var(--secondary);
}
/*======== working-hours =============*/
.working-hours{
    padding: calc(var(--pixel) * 60) 0;
    background-color: #FBF6EE;
}
.working-hours .content .hours{
    position: relative;
    width: calc(var(--pixel) * 480);
    height: calc(var(--pixel) * 520);
    padding: calc(var(--pixel) * 60);
    background-image: url(http://localhost/Hair-cutting/images/working-hour-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.working-hours .content .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
}
.working-hours .content .hours .text{
    position: relative;
    z-index: 1;
}
.working-hours .content .hours .text > *{
    margin-bottom: calc(var(--pixel) * 25);
}
.working-hours .content .hours .text .times > *{
    margin-bottom: calc(var(--pixel) * 10);
}
.working-hours .content .hours .text .times {
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(var(--pixel) * 19);
}
.working-hours .content .hours .text .times li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.working-hours .content .hours .title{
    color: var(--primary);
    text-transform: uppercase;
    font-size: calc(var(--pixel) * 30);
    line-height: calc(var(--pixel) * 40);
    font-weight: 600;
}
.working-hours .content .hours .p{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    font-weight: 400;
}
.working-hours .content .video{
    background-image: url(http://localhost/Hair-cutting/images/video-bg.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(var(--pixel) * 520);
}
/*======== page portfolio=============*/
.portfolio{
    padding: calc(var(--pixel) * 60) 0;
}
.portfolio .text{
    text-align: center;
    width: calc(var(--pixel) * 600);
    margin: 0 auto calc(var(--pixel) * 25);
}
.portfolio .text .title{
    text-transform: uppercase;
    font-size: calc(var(--pixel) * 30);
    line-height: calc(var(--pixel) * 40);
    font-weight: 600;
    margin-bottom: calc(var(--pixel) * 25);
}
.portfolio .text .p{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
}
.portfolio .images{
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--pixel) * 25);
}
.portfolio .images .img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(var(--pixel) * 450);
}
.portfolio .images .img-1{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-5.webp);
    width: calc(var(--pixel) * 620);
}
.portfolio .images .img-2{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-3.webp);
    width: calc(var(--pixel) * 300);
}
.portfolio .images .img-3{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-7.webp);
    width: calc(var(--pixel) * 300);
}
.portfolio .images .img-5{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-3.webp);
    width: calc(var(--pixel) * 300);
}
.portfolio .images .img-4{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-5.webp);
    width: calc(var(--pixel) * 620);
}
.portfolio .images .img-6{
    background-image: url(http://localhost/Hair-cutting/images/page-portfolio-7.webp);
    width: calc(var(--pixel) * 300);
}
/*======== page contact=============*/
.contact-page{
    padding: calc(var(--pixel) * 60) 0;
}
.contact-page .text{
    text-align: center;
    width: calc(var(--pixel) * 600);
    margin: 0 auto ;
}
.contact-page .text .title{
    text-transform: uppercase;
    font-size: calc(var(--pixel) * 30);
    line-height: calc(var(--pixel) * 40);
    font-weight: 600;
    margin-bottom: calc(var(--pixel) * 25);
}
.contact-page .text .p{
    font-size: calc(var(--pixel) * 16);
    line-height: 1.8;
    color: var(--gray);
    font-weight: 400;
}
.contact-page .cards{
    padding: calc(var(--pixel) * 40) 0;
}
.contact-page .cards .logo{
    height: calc(var(--pixel) * 65);
    width: calc(var(--pixel) * 65);
    box-shadow: -10px 10px var(--primary);
    font-size: calc(var(--pixel) * 30);
    text-align: center;
    line-height: calc(var(--pixel) * 65);
    background: #fff;
    transition: var(--transition);
}
.contact-page .cards .logo i{
    font-size: calc(var(--pixel) * 30);
    color: var(--primary);
}
.contact-page .cards .box{
    width: calc(var(--pixel) * 396);
    height: calc(var(--pixel) * 180);
    padding: calc(var(--pixel) * 45);
    background-color: #efefef;
    transition: var(--transition);
}
.contact-page .cards .box:hover{
    color: #fff;
    background-color: var(--primary);
}
.contact-page .cards .box:hover a,
.contact-page .cards .box:hover .des {
    color: #fff;
}
.contact-page .cards .box:hover .logo {
    box-shadow: -10px 10px #000;
}
.contact-page .cards .box .name{
    font-size: calc(var(--pixel) * 25);
    line-height: calc(var(--pixel) * 35);
    margin-bottom: calc(var(--pixel) * 15);
    font-weight: 600;
}
.contact-page .cards .box .des{
    font-size: calc(var(--pixel) * 20);
    color: #252525;
    font-weight: 500;
    margin-bottom: calc(var(--pixel) * 10);
    display: inline-block;
    transition: var(--transition);
}
.contact-page .contact-form,
.contact-page .maps-form .maps{
    width: 50%;
}
.contact-page .maps-form .maps iframe{
    width: 100%;
    height: 100%;
}
.contact-page .contact-form {
    padding: calc(var(--pixel) * 30);
    background-color: var(--primary);
}
.contact-page .contact-form input,
.contact-page .contact-form select,
.contact-page .contact-form textarea{
    width: 100%;
    border: calc(var(--pixel) * 1) solid var(--gray);
    outline: none;
    color: var(--gray);
    background: #fff;
    height: 50px;
    padding: 0 calc(var(--pixel) * 12);
    margin-bottom: calc(var(--pixel) * 20);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: calc(var(--pixel) * 16);
    line-height: calc(var(--pixel) * 26);
    font-weight: 600;
    border-radius: calc(var(--pixel) * 5);
}
.contact-page .contact-form textarea{
    max-width: 100%;
    height: calc(var(--pixel) * 150);
    max-height: calc(var(--pixel) * 200);
}
.contact-page .contact-form textarea::placeholder{
    font-size: calc(var(--pixel) * 18);
    line-height: calc(var(--pixel) * 26);
    font-weight: 600;
}
.contact-page .contact-btn{
    position: relative;
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 35);
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: calc(var(--pixel) * 15);
    letter-spacing: .5px;
    border: 1px solid #fff;
    border-radius: calc(var(--pixel) * 5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--primary);
    transition: var(--transition);
    cursor: pointer;
    width: 100%;
}
.contact-page .contact-btn i{
    margin-left: calc(var(--pixel) * 5);
}
.contact-page .contact-btn:hover{
    background-color: var(--secondary);
}